<!DOCTYPE html>
<html>
<head>
    <title>mazii</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    
</head>
<body>
    <% include ../partials/header %>

  <div class="container-fluid">
<br>
<br>
<br>


  </div> <!--container-fluid end -->

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script>

    </script>
</body>
</html>
