<!DOCTYPE html>
<html>
<head>
    <title>Mazzi</title>
    <% include ../partials/stylesheet %>
</head>
<body>

   <% include ../partials/header %>

  <div class="container-fluid">
        <% include ../partials/images/mainImage %>
        <div id="city-list">
            <input class="search" placeholder="Search Filter" />
            <ul class="list"></ul>
        </div>
  </div>


    <% include ../partials/javascript %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.3.0/list.min.js"></script>
    <script src="/javascripts/citieSearch.js"></script>
    <% include ../partials/footer %>
</body>
</html>
