<!DOCTYPE html>
<html>
<head>
    <title>mazii</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">

</head>
<body>
    <% include ../partials/header %>

  <div class="container-fluid city_feed_container">
    <% include ../partials/images/cityImage %>
    <% include ../partials/feed/datePicker %>



  <div class="come-in-box">
    <div class="row come-in">
        <p id="userEmail" class="hide"><% if(user) { %>
                                        <%= user.email %>
                                        <% } else { %>
                                        <% } %>
                                        </p>
        <h1 class="text-center">블라블라블라블라블라블라블라블라</h1>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="left_side">

          </div>
        </div>
        
        <!-- 중간 열 시작 -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

          <div class="center_side">

          </div>
        </div>
        
        <!-- 마지막 열 시작 -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="right_side">
           
          </div>
        </div>
        <!-- 마지막 열 종료 -->

      </div>
        
  </div>


  </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.kr.js" charset="UTF-8"></script>
    <!-- showPost 등등 -->
    <script src="/javascripts/post/index.js"></script> 
    <script src="/javascripts/city-feed.js"></script>
    <script>

    </script>
</body>
</html>
