<!DOCTYPE html>
<html>
<head>
    <title>mazii</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">

</head>
<body>
    <% include ../partials/header %>

  <div class="container-fluid city_feed_container">
    <% include ../partials/images/cityImage %>
    <% include ../partials/feed/datePicker %>



  <div class="come-in-box">
    <div class="row come-in">
        <h1 class="text-center">블라블라블라블라블라블라블라블라</h1>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div id="left_side">

          </div>
        </div>
        
        <!-- 중간 열 시작 -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

          <div id="center_side">
            <div class="panel panel-info">
              <div class="panel-heading">  H.G. Wells</div>
              <div class="panel-body">
                <p>By midnight the blazing trees along the slopes of Richmond Park and the glare of Kingston Hill threw their light upon a network of black smoke, blotting out the whole valley of the Thames and extending as far as the eye could reach.  And through this two Martians slowly waded, and turned their hissing steam jets this way and that.</p>
              </div>
            </div>      
            
            <div class="panel panel-default">
              <div class="panel-body">
                <p>Before dawn the black vapour was pouring through the streets of Richmond, and the disintegrating organism of government was, with a last expiring effort, rousing the population of London to the necessity of flight.</p>
              </div>
            </div>  

          </div>

        </div>
        
        <!-- 마지막 열 시작 -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div id="right_side">
            <div class="panel panel-warning">
              <div class="panel-heading">L. Frank Baum - The Wizard of Oz</div>
              <div class="panel-body">
                <p>"Don't speak of it, I beg of you," replied the Woodman.  "I have no heart, you know, so I am careful to help all those who may need a friend, even if it happens to be only a mouse."</p>

                <p>"Only a mouse!" cried the little animal, indignantly.  "Why, I am a Queen--the Queen of all the Field Mice!"</p>

                <p>At that moment several mice were seen running up as fast as their little legs could carry them, and when they saw their Queen they exclaimed:</p>
              </div>
            </div> 
            
            <div class="panel panel-default">
              <div class="panel-body">
                <p>"Oh, your Majesty, we thought you would be killed!  How did you manage to escape the great Wildcat?"  They all bowed so low to the little Queen that they almost stood upon their heads.</p>

                <p>"This funny tin man," she answered, "killed the Wildcat and saved my life.  So hereafter you must all serve him, and obey his slightest wish."</p>

                <p>"We will!" cried all the mice, in a shrill chorus.  And then they scampered in all directions, for Toto had awakened from his sleep, and seeing all these mice around him he gave one bark of delight and jumped right into the middle of the group.  Toto had always loved to chase mice when he lived in Kansas, and he saw no harm in it.</p>

                <p>But the Tin Woodman caught the dog in his arms and held him tight, while he called to the mice, "Come back!  Come back!  Toto shall not hurt you."</p>

                <p>At this the Queen of the Mice stuck her head out from underneath a clump of grass and asked, in a timid voice, "Are you sure he will not bite us?"</p>
              </div>
            </div> 
          </div>
        </div>
        <!-- 마지막 열 종료 -->

      </div>
        
  </div>


  </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.kr.js" charset="UTF-8"></script>
    <script src="/javascripts/city-feed.js"></script>
    <script>

    </script>
</body>
</html>
