<!DOCTYPE html>
<html>
<head>
    <title>mazii</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">

</head>
<body>
    <% include ../partials/header %>

  <div class="container-fluid city_feed_container">
    <% include ../partials/images/cityImage %>
    <% include ../partials/feed/datePicker %>



  <div class="come-in-box animated bounceInLeft">
    <div class="row come-in">
        <p id="userEmail" class="hide"><% if(user) { %>
                                        <%= user.email %>
                                        <% } else { %>
                                        <% } %>
                                        </p>
        <h1 class="text-center">여행명언</h1>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="left_side">

          </div>
        </div>
        
        <!-- 중간 열 시작 -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

          <div class="center_side">

          </div>
        </div>
        
        <!-- 마지막 열 시작 -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="right_side">
           
          </div>
        </div>
        <!-- 마지막 열 종료 -->

      </div>

  </div>

              <!-- 채팅창 팝업부분 -->
<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar sidebar_secondary">

    <div class="popup-head">
        <div class="popup-head-left pull-left">
                  <a Design and Developmenta title="Gurdeep Osahan (Web Designer)" target="_blank" href="https://web.facebook.com/iamgurdeeposahan">
                  <img class="md-user-image" alt="Gurdeep Osahan (Web Designer)"
                                  src="<%= user.facebook.picture.data.url %>" 
                                  title="Gurdeep Osahan (Web Designer)" 
                                  alt="Gurdeep Osahan (Web Designer)"/>
                  <h1><%= user.name %></h1><small><br></a>
              </div>
              <div class="popup-head-right pull-right">
                  <button data-widget="remove" class="chat-header-button pull-right removeClass" type="button"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
    </div>

    <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
              <div class="chat_box touchscroll chat_box_colors_a">

                  <div class="chat_message_wrapper">
                      <div class="chat_user_avatar">
                          <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" >
                          <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)"  src="http://www.webncc.in/images/gurdeeposahan.jpg" class="md-user-image">
                          </a>
                      </div>
                      <ul class="chat_message">
                          <li>
                              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                          </li>
                          <li>
                              <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                          </li>
                      </ul>
                  </div>

                  <div class="chat_message_wrapper chat_message_right">
                      <div class="chat_user_avatar">
                      <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" >
                          <img alt="Gurdeep Osahan (Web Designer)" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="md-user-image">
                      </a>
                      </div>
                      <ul class="chat_message">
                          <li>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                                  <span class="chat_message_time">13:34</span>
                              </p>
                          </li>
                      </ul>
                  </div>

              </div>
                      
    </div>

      <div class="chat_submit_box">
          <div class="uk-input-group">
              <div class="gurdeep-chat-box">

              <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
              </div>
          
          <span class="uk-input-group-addon">
          <a href="#"><i class="glyphicon glyphicon-send"></i></a>
          </span>
          </div>
      </div>
              
        </div>

</aside>

  </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.kr.js" charset="UTF-8"></script>
    <!-- showPost 등등 -->
    <script src="/javascripts/post/postSocket.js"></script> 
    <script src="/javascripts/post/index.js"></script> 
    <script src="/javascripts/city-feed.js"></script>
    <script>





    </script>
</body>
</html>
