<!DOCTYPE html>
<html>
<head>
    <title>mazii</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">

</head>
<body>
    <% include ../partials/header %>

  <div class="container-fluid city_feed_container">
    <% include ../partials/images/cityImage %>
    <% include ../partials/feed/datePicker %>



  <div class="come-in-box animated bounceInLeft">
    <div class="row come-in">
        <p id="userEmail" class="hide"><% if(user) { %>
                                        <%= user.email %>
                                        <% } else { %>
                                        <% } %>
                                        </p>
        
        <p class="text-center travel-font font_english">The world is a book and those who do not travel read only one page.</p>
        <span class="text-center font_korea">세계는 한 권의 책이며, 여행자들은 그 책의 한 페이지를 읽었을 뿐이다.</span>
        <span class="padding-left font_english"> – St. Augustine</span>
        
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="left_side">

          </div>
        </div>
        
        <!-- 중간 열 시작 -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

          <div class="center_side">

          </div>
        </div>
        
        <!-- 마지막 열 시작 -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="right_side">
           
          </div>
        </div>
        <!-- 마지막 열 종료 -->

      </div>

  </div>

              <!-- 채팅창 팝업부분 -->
<% include ../partials/chat/chat_aside %>

  </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.kr.js" charset="UTF-8"></script>
    <!-- showPost 등등 -->
    <script src="/javascripts/post/postSocket.js"></script> 
    <script src="/javascripts/post/index.js"></script> 
    <script src="/javascripts/cityFeed.js"></script>
    <script>





    </script>
</body>
</html>
