<!DOCTYPE html>
<html>
<head>
    <title>mazii</title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header %>
    
  <div class="container-fluid">
        <% include ../partials/images/mainImage %>

      <div class="index-container text-center">
            
            <% include ../partials/home/popular %>
            <br>
            <% include ../partials/home/recommend %>

      </div>
  </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script src="/javascripts/indexPage.js"></script>
</body>
</html>
