<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header %>
    

  <div class="container-fluid">
    <div class="">
        <% include ../partials/mainImage %>
      <div class="page-header">
        <h1><%= title %></h1>
      </div>
        <% if(user) {%>
          <h2>
            <%= user.email %>
          </h2>
        <%} %>    
      <p class="lead">Welcome to <%= title %></p>
  </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script>

    </script>
</body>
</html>
