.card-holder{
    padding:0px 250px 550px 250px;
}

.front{
    display: table; 
    margin: 50px auto 10px auto;
}
.card-container:hover{
    border-radius : 1em;
    box-shadow: 3px 3px 50px #7e93a3;
}

.cover{
    margin-bottom: 10px;
    font-size: 20px;
}

.cover span{
    font-size: 10px;
}

.user-picture{
    display: table;
    margin: 5px auto 1px auto;
}
.user-picture .user-img{
    width : 30px;
    height : 30px;
}

/* 선택중인 채팅창 */
.selected-chat{
    border-radius : 1em;
    box-shadow: 1px 3px 30px #7e93a3;
}

/* Weekly Best Trip 문구 */
.chat-list-title {
    font-size: 30px;
    animation-duration: 1s;
    animation-name: slidein;
    margin-bottom: 30px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}