.list li{
    display: inline-block;
    width: 20%;
    font-size: 16px;
    padding-left: 22px;
    padding-top: 10px;
  }
  
.list li span{
  font-size : 10px;
}

.list li a{
  color : black;
  text-decoration: none;
}

.list li a:hover{
  color : #fc6ad2;
}