.city_feed_container{
  background: #FAFAFA;
}

.feed-card{
  border-style: none;
  border-radius: 5px;
  background: white;
  box-shadow: 3px 3px 20px #7e93a3;
  margin-bottom: 30px;
}

.feed-card a{
  text-decoration: none;
}
.feed-card a:link{
  color:inherit;
}
.feed-card a:visited{
  color:inherit;
}

.feed-panel-header{
  padding-left: 1em;
  padding-right: 5px;
  padding-top: 1em;
  padding-bottom: 1m;
}

.feed-panel-body{
  padding: 15px;
}

.feed-panel-body p img{
  max-width: 100%;
	width: 600px;
  max-height: 600px;
}

.feed-panel-footer{
 padding-left: 10px;
}

.upvote{

}
.modify-btn{
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

.delete-btn{
 float: right;
 padding-right: 10px;
 cursor: pointer;
}



.come-in-box{
  padding: 40px;
  margin-top: 70px;
}

.come-in {
    line-height: 160%;
  }

.come-in > h1{
  margin-bottom: 40px;
}
  /* Animation SCSS */
.come-in {
    -webkit-transform: translateY(150px);
        -ms-transform: translateY(150px);
            transform: translateY(150px);
    -webkit-animation: come-in 0.8s ease forwards;
            animation: come-in 0.8s ease forwards;
  }
  
  .come-in:nth-child(odd) {
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
  }
  
  .already-visible {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: none;
            animation: none;
  }
  
  @-webkit-keyframes come-in {
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes come-in {
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }



.like-content {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    border-top: 10px dashed #eee;
    text-align: center;
}

.like-content span {
	color: #9d9da4;
	font-family: monospace;
}
.like-content .btn-secondary {
	  display: block;
	  margin: 15px auto 15px;
    text-align: center;
    background: #ed2553;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
	  transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
	  margin-right: 5px;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}