
/* 홈 메인화면이미지  */
.main_img_container{
    position: relative;
  }

.main_img_container > .text{
    position: absolute;
    top:30vh;
    left: 13vw;
    color: white;
    font-size: 30px;
}

#main_img{
    width: 97vw;
    max-height: 600px;
}

/* 도시별 이미지 */
/*  이미지는 1920*690 비율으로. */
.city_img_container{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }

.city_img_container > .text{
    position: absolute;
    top:15vh;
    left: 13vw;
    color: white;
    font-size: 35px;
}

#city_img{
    width: 97vw;
    height: 60vh;
}
