
/* 홈 메인화면 배경이미지  */
.main_img_container{
    position: relative;
    margin-left: -1vw;
  }

.main_img_container > .text{
    position: absolute;
    top:30vh;
    left: 13vw;
    color: white;
    font-size: 30px;
}

#main_img{
    width: 100vw;
    max-height: 550px;
}

/* 도시별 이미지 */
/*  이미지는 1920*690 비율으로. */
.city_img_container{
    position: relative;
    margin-left: -1vw;
  }

.city_img_container > .text{
    position: absolute;
    top:15vh;
    left: 13vw;
    color: white;
    font-size: 35px;
}

#city_img{
    width: 100vw;
    height: 60vh;
}

/* 프로필 사진 비율별로 사이즈 자를떄 */
.aspect_1_1 {height: 50px; overflow: hidden;}
.aspect_5_3 {height: 9vw; overflow: hidden; }
.aspect_4_5 {height: 100px; overflow: hidden;}

/* 홈화면에 인기글 부분에 넣을 프로필 이미지 */
.profileImage{
    width: 100%; height: auto; margin-top: -9vh;
}