/* 홈 화면 */

.index-container{
    /* 좌우 정렬을 하고싶을땐
    table을 하고 margin 좌우를 auto로! 
    Modern Brouwer만 호환 IE8이상
    */
    display: table; 
    margin: 50px auto 10px auto;
}

.popularRow{
    margin-bottom: 50px;
}
.popularRow a{
    text-decoration: none;
}

.popularRow a:link{
    color:inherit;
  }
  .popularRow a:visited{
    color:inherit;
  }
  

.popularRowStartDay{
    font-size: 10px
}
.popularRowEndDay{
    font-size: 10px
}

/* index의 인기글에서는 사진 보여주지 않음 */
.popularContent p img{
    display: none;
}


/* Weekly Best Trip 문구 */
.indexTitles {
    font-size: 30px;
  animation-duration: 2s;
  animation-name: slidein;
  margin-bottom: 30px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}