<div class="recommend-container">
   <p class="indexTitles">How about this city?</p>
    <br>
    <br>
    <br>
    <div class="row rcm-row">
    
        <div class="col-xs-6 col-md-7 rcm-img-box">
            <img src="/images//Venice_cmd.jpg" alt="">
        </div>  

        <div class="col-xs-6 col-md-5 city-desc-right">
            <p class="text-center cmd-desc-title"> 
            A city of romance <br> Venice</p> 
            <p class="text-center ">잘 알려진 바대로 베니스는 낭만의 도시이며 물의 도시이다</p>
            <p class="text-center"> 약 120개의 섬이 400개의 다리로 이루어진 구조로 섬 사이의 수로가 교통의 핵심이다
            </p>
            <p class="text-center">물 위에 건물이 있고, 골목을 잇는 것은 길이 아니라 다리이며</p>
            <p class="text-center">수상 택시와 곤돌라, 작은 배 등의 수상 교통이 일상이다</p>
            <p class="text-center">본래 있던 건물을 허물고 새로운 것을 만드는게 반복되는 도시들과 달리</p>
            <p class="text-center">베니스에서는 오래도록 그 모습과 자리를 지키는 게 당연한 일이다</p>
        </div>  
    </div>

    <div class="row rcm-row">

        <div class="col-xs-6 col-md-7 city-desc-left">
            <p class="text-center cmd-desc-title">Heaven, between <br> the sky and the sea</p> 
            <p class="text-center ">프랑스 코트다쥐르의 중심인 니스는</p>
            <p class="text-center"> 몸과 마음을 한순간에 해방시키고 파도에 모든것을 맡기고 싶은 도시다.</p>
            <p class="text-center">
             이곳의 매력은 니스라는 지역 자체뿐만 아니라 평화롭고 서정적인 삶의 진행속도에 있다.
            </p>
            <p class="text-center">
            별장, 호텔, 정원, 산책지, 카지노등 위락시설이 정비되어 있고
            </p>
            <p class="text-center">
            인접한 모나코, 칸과 마찬가지로 각종 행사가 열린다
            </p>
        </div>  

        <div class="col-xs-6 col-md-5 rcm-img-box pull-right">
            <img src="/images/Nice_cmd.jpg" alt="">
        </div>  

    </div>

    <div class="row rcm-row">

         <div class="col-xs-6 col-md-5 rcm-img-box">
            <img src="/images/city/Bern.jpg" alt="">
        </div>  

        <div class="col-xs-6 col-md-5 city-desc-right">
            <p class="text-center cmd-desc-title"> 
            Everywhere is a World Heritage Site</p>
            <p class="text-center"> 스위스 베른은 구시가 전체가 세계문화유산이다.</p>
            <p class="text-center"> 스위스 최초로 1983년, 유네스코 세계유산으로 등재 됐다. 취리히, 루째른, 제네바 등
            </p>
            <p class="text-center">
             스위스에 명성 높은 도시들이 즐비하지만 세계유산으로 지정된 도시는 베른이 유일하다. 베른은 스위스의 ‘당당한’ 수도이기도 하다.</p>
            <p class="text-center">
             알레 강에 둘러싸인 12세기에 조성된 언덕 위의 도시. 몇 세기에 걸쳐 독특한 컨셉으로 
             </p>
             <p class="text-center">
             도시가 발달했으며 15세기풍의 아케이드, 16세기풍의 분수들을 담아내고 있다
            </p>
        </div>  

    </div>

</div>
