<footer class="footer">
<br>
<br>
<br>
<br>
<br>
Search Travel Buddies Story
    <div class="container footer-container">
        <a type="text" class="form-control btn btn-default"  href='/cities' role="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                             어디로 가세요?   
                            </a>
    </div>
    <br>
    <br>
    <br>
    <br>
</footer>
