<!-- Fixed navbar -->
<!--
    <nav class="navbar-default navbar-static-top">
        <div class="container">
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <form class="navbar-form navbar-left" role="search">
                        <div class="form-group form-inline">
                            <input type="text" class="form-control" placeholder="어디로 가세요?">
                        </div>
                    </li>
                    <li class="nav-item navbar-right">

                    </li>
                </ul>
            </div>
        </div>
    </nav>
-->
<!-- Fixed navbar -->

 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
        <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Mazii" src="">
                    </a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <form class="navbar-form navbar-left col-lg-7" role="search">
                        <div class="form-group form-inline">
                            <a type="text" class="form-control btn btn-default" id="citySearch" href='/cities' role="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                             어디로 가세요?
                            </a>
                        </div>
                    </li>
                    <li class="nav-item navbar-right">
                        <% if(!user) { %>
                          <p class="navbar-text navbar-right">
                            <a class="nav-link" href="/auth/facebook">Login</a>
                          </p>
                        <% } else{ %>
                            <a class="nav-link" href="/logout">Logout</a>
                            <li class="nav-item navbar-right">
                              <a href="#">Inbox <span class="badge">42</span></a>
                            </li>
                            <li class="nav-item navbar-right">
                              <a href="#">chat <span class="badge"></span></a>
                            </li>
                            <li class="nav-item navbar-right">
                              <a class="nav-link" href="#"><%= user.name%></a>
                            </li>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- Fixed navbar -->

<script>

</script>