                              <% let unread=0; %> 
                              <% if(user) { %>
                              <% user.Alarms.forEach((alarm,indx)=>{ %>
                                    <% if(alarm.checked===false) unread++ %>
                              <% }) %>
                              <% } %>
 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
        <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Mazii" src="">
                    </a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <div class="form-group form-inline " id="citySearch">
                            <a type="text" class="form-control btn btn-default"  href='/cities' role="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                             어디로 가세요?   
                            </a>
                        </div>
                    </li>
                    <li class="nav-item navbar-right">
                        <% if(!user) { %>
                          <p class="navbar-text navbar-right">
                            <a class="nav-link" href="/auth/facebook">Login</a>
                          </p>
                        <% } else{ %>
                            <a class="nav-link" href="/auth/logout">Logout</a>
                            <li class="nav-item navbar-right">
                              <a href="/alarm">Alarms <span class="badge asd">
                              <% if(user) { %>
                                <%= unread %>
                                <% } %>
                              </span></a>
                            </li>
                            <li class="nav-item navbar-right">
                              <a href="/chatList">chat <span class="badge"></span></a>
                            </li>
                            <li class="nav-item navbar-right">
                              <a class="nav-link" href="auth/profile"><%= user.name%></a>
                            </li>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
            <!-- <pre>
            <%= user.Alarms %>
            </pre> -->  
    </nav>
    
<!-- Fixed navbar -->
