  <div class='city_img_container'>
    <img src="/images/city/<%= city %>.jpg" alt="<%= city %>" id='city_img'>
    <div class="text">
    <br>
    <br>
    <br>
    <br>
    <br>
      <p><%= city %></p>
    <br>
    </div>
  </div>